*.~*
*.obj
*.exe
*.ink
*.bak
*.zip
*.rar
*.tds
*.log
*.dwl
*.dwl2
*.bak
*.tmp
RSign_misha.tds

AutoCAD/Scripts/last_mini_report.bat
RSign_misha.str
AutoCAD/Scripts/.credentials
/.project
