<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="RoadImporter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<connectionStrings>
    <add name="DBConnection" connectionString="Data Source=408-5\SQLExpress2014;Initial Catalog=RoadsDB_2018;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <add name="RoadImporter.Properties.Settings.DBConnection" connectionString="Data Source=408-5\SQLExpress2014;Initial Catalog=RoadsDB_2018;Integrated Security=True" />
</connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup>
    <applicationSettings>
        <RoadImporter.Properties.Settings>
            <setting name="Operation" serializeAs="String">
                <value>ToXML</value>
            </setting>
        </RoadImporter.Properties.Settings>
    </applicationSettings>
</configuration>
